main{
    display: flex;
    justify-content: space-around;
}

h2{
    text-align: center;
}

.board{
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(10, 1fr);
}

.grid-cell{
    height: 20px;
    width: 20px;
    border: 1px solid black;
}