:root{
    --box-shadow: 0 .5em 1em .5em rgba(10,10,10,.1);

}

main{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.boards{
    display: flex;
    justify-content: center;
    gap: 4rem;
    padding: 0 5rem;
}

h2,
.numbers{
    text-align: center;
}

.board-container{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    flex-grow: 1;
    min-width: 300px;
    max-width: 500px;
}

.board{
    flex-grow: 1;
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(10, 1fr);
    gap: 2px;
    box-shadow: var(--box-shadow)
}

.board-wrapper{
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    flex-grow: 1;
}

.board-inner-wrapper{
    display: flex;
    gap: .6rem;
    aspect-ratio: 1;
}

.column-description{
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    gap: 2px;
}

.row-description{
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    gap: 2px;
}

.grid-cell{
    border: 1px solid black;
    background-size: contain;
}

.grid-cell:hover{
    background-color: grey;
    opacity: 0.3;
}

.hidden{
    background-size: 0 0;
}

.hit{
    background-color: red;
}

.miss{
    background-color: grey;
}

.alert-container{
    position: relative;
    margin: 1rem auto;
    padding: 1rem;
    width: 30rem;
    text-align: center;
    box-shadow: var(--box-shadow)
}


.delete{
    position: absolute;
    right: .5rem;
    top: .5rem;
    border: none;
    border-radius: 1rem;
}

.board-container,
.alert-container{
    background-color: white;
}

@media(width < 800px){
    main{
        gap: 0;
    }
    .boards{
        flex-direction: column;
        gap: 0;
        padding: 0;
        align-items: center;
    }

    .board-container{
        max-width: 500px;
        width: 80%;
    }

    .alert-container{
        width: 70%;
    }
}